CompileFlags:
  Add:
    - "-std=c++17"
    - "-I/home/heavy/Github/1d-nesting/include"
    # HiGHS path will be set by nix-shell
  CompilationDatabase: .

Diagnostics:
  ClangTidy:
    Add: []
    Remove: []
  UnusedIncludes: Strict

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Index:
  Background: Build
